
body{
    margin: 0;
}


.header{
height: 100px;
background-color: #c7c7c7;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 16px;

}

.headerLogo{

}

.headerList{
list-style-type: none;
margin-left: 0;
display: flex;
gap: 16px;

}

.listAnchor{

}

.listItem{

}

.hero{
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-image: url("img/Matrixbakgrund.avif");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

.heroTitle{
    color: white;
background-color: #010100b3;
width: 300px;
padding: 16px;
text-align: center;
}

.heroText{
background-color: #010100b3;

color: white;
width: 300px;
padding: 16px;
}

.about{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
width: 50%;
}

.aboutContainer p{
    width: 300px;
}

.aboutImg{
    height: 400px;
    width: 500px;
}

.projects{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-around;

}

.projectCardImg{
    width: 100%;
}

.projectCard{
    width: 300px;
    border: 1px solid #010100;
    border-radius: 10px;
    text-align: center;
}